using CommunityToolkit.Mvvm.ComponentModel;
using CommunityToolkit.Mvvm.Input;
using Modulus.UI.Abstractions;

namespace Modulus.Modules.{{ModuleName}}.ViewModels;

public partial class MainViewModel : ViewModelBase
{
    [ObservableProperty]
    private string _message = "Hello from {{ModuleName}}!";

    public MainViewModel()
    {
        Title = "{{DisplayName}}";
    }

    [RelayCommand]
    private void SayHello()
    {
        Message = $"Hello at {DateTime.Now:HH:mm:ss}";
    }
}

