using Modulus.Sdk;
using Modulus.UI.Abstractions;

namespace Modulus.Modules.{{ModuleName}}.UI.Blazor;

/// <summary>
/// {{ModuleName}} Blazor UI Module.
/// </summary>
[DependsOn(typeof({{ModuleName}}Module))]
[BlazorMenu("{{ModuleNameLower}}", "{{DisplayName}}", "/{{ModuleNameLower}}", Icon = IconKind.{{Icon}}, Order = {{Order}})]
public class {{ModuleName}}BlazorModule : ModulusPackage
{
}

