html, body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

.status-bar-safe-area {
    display: none;
}

@supports (-webkit-touch-callout: none) {
    .status-bar-safe-area {
        display: block;
        height: env(safe-area-inset-top);
        background-color: #7B1FA2;
    }
}

#blazor-error-ui {
    background: #ffdc00;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}

.fw-bold {
    font-weight: 700 !important;
}
